:root{ font-size: 22px;
    font-family: 'Roboto', sans-serif;;
}
.container{
    display: grid;
    grid-template:280px 1fr 250px/100%;
    grid-template-areas: "header header"
                         "contenido contenido"
                         "footer footer";
    grid-gap: 5px;
    height: auto;
}

.header{
    grid-area: header;
   /* grid-template:300px 1fr 100px / 200px 1fr ;*/
    border:thin solid salmon;
}

/*.left{
    grid-area: left;
    grid-template: 300px 1fr 100px / 50px 1fr ;
    font-size: larger;
    text-align: justify;
    border:thin solid salmon;
    }*/

.contenido{
    grid-area: contenido;
    border:thin solid salmon;
    text-align: center;
}

.footer{
    grid-area: footer;
    text-align: center;
    border:thin solid salmon;
   }

.item{
    background-color: rgba(187, 187, 147, 0.438);
    padding: 20px;
    color: grey;
    border-radius: 10px;
}


header{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width:auto;
    padding: 0px;
}

h1{
    color: brown;
    font-size: 2rem; /*2rem*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 0px;
    margin: 0px; /*#25px*/
    }
h2{
    color: chocolate;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    transform:translate(5px, 25px);
    padding: 0px;
    margin: auto;
}
h4{ 
    color: chocolate;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    transform:translate(5px, 25px);
    padding: 0px;
    margin: auto;
}   

h3{
    margin-top: 30px;
    margin-bottom: 0px;
}
    
h5{
        color: chocolate;
        font-size: 1rem;
        transition-property: font-size;
        transition-duration: 4s;
        transition-delay: 2s;
        margin: 0px;
        padding: 0px 0px 10px 0px;
    }

h6{
    margin: 0px;
    font-size: 1rem;
}    
   
p{
        font-size: 1.rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
        text-align: justify;
        transform:translate(0px, 25px);
        flex-wrap: row wrap;
           /* justify-content: start;*/
        animation-duration: 3s;
        animation-name: slidein;

        }
    
        @keyframes slidein {
        from {
        margin-left: 100%;
        width: 300%;
       }
    
       to {
        margin-left: 0%;
        width: 100%;
       }
    
        }

/*index.html*/

#uno-id{
    position: relative;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    font-size: 2rem;
    margin: 0px;
    }

#referencia {
       /* border-color: blue;
        background-color: cornflowerblue;
        border-color: black;
        border-style: solid;
        border-width: thin;
        font-size: 0.8rem;
        border-radius: 0% 0% 0% 0%;*/
    
    background-color: grey;
    color: antiquewhite;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Playpen Sans', cursive;
    margin-top: 10px;    
    } 

    .index-ref{
        text-align: center;
    }

/*reserva.html*/

#footer-id{
    padding-bottom: 0px;
    text-align: center;
}


/*Diseño responsive*/
/*Diseño responsive phones*/
@media(min-width: 576px){
    .header{width: 100%;}
    .left{width: 100%;}
    .contenido{width: 100%;}
    .footer{width: 100%;}
} 
/*Diseño responsive tablets*/
@media(min-width: 768px){
    .header{width: 100%;}
    .left{width: 100%;}
    .contenido{width: 100%;}
    .footer{width: 100%;}
}
/*Diseño responsive desktop*/
@media(min-width: 992px){
    .header{width: 100%;}
    .left{width: 100%;}
    .contenido{width: 100%;}
    .footer{width: 100%;}
}
/*Diseño responsive large desktop*/
@media(min-width: 1600px){
    .header{width: 100%;}
    .left{width: 100%;}
    .contenido{width: 100%;}
    .footer{width: 100%;}
}